.footer
  a(target="_blank", href="#") 日拱一卒，不期速成
  br
  a.copyright(href="https://hexo.io/zh-cn/", target="_blank") Hexo 
  a.copyright(href="#") x
  a.copyright(href="https://github.com/Ben02/hexo-theme-Anatole")   Anatole 
  br
  
  p
    strong 常去 &nbsp;&nbsp;
    a(href="https://bbs.byr.cn") 北邮人论坛 &nbsp;
    a(href="http://jandan.net/") 煎蛋 &nbsp;
    a(href="https://www.reddit.com") Reddit &nbsp;
    a(href="https://github.com") Github &nbsp;
    a(href="https://douban.fm") 豆瓣 FM &nbsp;
    a(href="https://readhub.me") Readhub &nbsp;
    a(href="https://www.v2ex.com") V2EX &nbsp;
  p
    strong BTC &nbsp;&nbsp;
    a(href="https://blockchain.info/zh-cn/wallet") Blockchain Wallet &nbsp;
    a(href="https://btc.com") BTC &nbsp;
    a(href="https://www.okcoin.cn") OKCoin &nbsp;
  P
    strong BLOG &nbsp;&nbsp;
    a(href="http://www.ruanyifeng.com/blog/") 阮一峰 &nbsp;
  P
    strong 前端 &nbsp;&nbsp;
    a(href="http://www.colorhexa.com") ColorHexa &nbsp;
    a(href="https://500px.com") 500px &nbsp;
    a(href="https://codepen.io") CodePen &nbsp;
  p
    strong 其他 &nbsp;&nbsp;
    a(href="https://sg.godaddy.com/zh?isc=ISC") GoDaddy &nbsp;
    a(href="https://www.aliyun.com") Aliyun &nbsp;
  p
    i.fa.fa-btc &nbsp;
    a#bprice(href="#") 
    | &nbsp;&nbsp;
    i.fa.fa-paper-plane &nbsp;
    a#busuanzi_container_site_pv(href="#")
      a#busuanzi_value_site_pv(href="#") 
    | &nbsp;&nbsp;
    i.fa.fa-paper-plane-o &nbsp;
    a#busuanzi_container_site_uv(href="#")
      a#busuanzi_value_site_uv(href="#")
    
